@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth !important;
}


@layer base{

  body{
    @apply bg-slate-900 text-slate-100 tracking-wide;
  }

  h1,h2,h3,h4,h5{
    @apply font-bold text-white;
  }
  p{
    @apply dark:text-white;
  }

  h1{
    @apply text-3xl sm:text-5xl md:text-6xl;
  }

  h2{
    @apply text-2xl sm:text-4xl
  }

  li{
    @apply cursor-pointer;
  }

  button{
    @apply  shadow-xl shadow-black rounded-lg uppercase bg-violet-500 text-white
  }

}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}